* {
    padding: 0mm;
    margin: 0mm;
}


#titulo {
    color: #FCFBFB;
    background-color: #181515;
    width: 100vw;
    font-size: 3em;
    font-family: 'Bebas Neue', cursive;
    line-height: 1.7;
    font-weight: 100;
    text-align: center;
}

.titulo-h2{
    color: #FCFBFB;
    background-color: #181515;
    width: 100vw;
    font-size: 1em;
    font-family: 'Bebas Neue', cursive;
    line-height: 1;
    font-weight: 100;
    text-align: center;
}

.form {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #181515;
  }

.form input {
    width: 550px;
    height: 30px;
    margin: 0.5rem;
    border: none;
    border-radius: 60px;
    text-align: center;
}



.parrafo{
    margin-top: 16px;
    font-family: 'Mohave', sans-serif;
    font-size: 15px;
    font-weight: 800;
}



.la_fecha{
    float: right;
    font-family: 'Mohave', sans-serif;
    font-size: 15px;
    font-weight: 800;
}

.contenedor{
    margin: auto;
    background-color: #FCFBFB;
    width: 800px;
    padding: 30px;
}

ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.slider{
    position: relative;
    width: 800px;
    height: 300px;
}

ul.slider li{
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    width: inherit;
    height: inherit;
    background-color: #FCFBFB;
    transition: opacity .5s;
}

ul.slider li img{
    margin: auto;
    display: block;
    height: 500px;
    width: auto;
    object-fit: cover;
    border-radius: 6%;
}

ul.slider li:first-child{
    opacity: 1;
}

ul.slider li:target{
    opacity: 1;
}

.menu{
    text-align: center;
    margin: 20px;
}

.menu li{
    display: inline-block;
    margin-top: 200px;
    text-align: center;
}

.menu li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: grey;
    padding: 10px;
    width: 15px;
    height: 15px;
    font-size: 15px;
    border-radius: 100%;
}

#instagram{
    position: absolute;
    bottom: -100%;
    display: inline-block;
    padding: 2px;
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 20%;
}

#facebook{
    position: absolute;
    bottom: -100%;
    display: inline-block;
    padding: 3px;
    width: 43px;
    height: 43px;
    margin-left: 60px;
    object-fit: cover;
    border-radius: 20%;
}

.franja{
    height: 70px;
    width: 100%;
    background-color: #181515;
    color: #181515;
    position: absolute;
    bottom: -100%;
}